#formBasicEmail {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.container{
    background: linear-gradient(rgb(15, 224, 144),rgb(192, 227, 235));
}